.titleBar{
  width: 100%;
  height: 35px;
  position: relative;
  >.back{
    width: 30px;
    height: 30px;
    background: url("@/assets/backIcon1.png") no-repeat center center / 35px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -15px;
  }
  >.title{
    height: 35px;
    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
  }
}