.appBox{
  width: 100%;
  height: 100%;
  background: #06060B url("@/assets/bgImg.png") no-repeat center center / 100% 100%;
  overflow: hidden;
  >.appContent{
    width: 100%;
    max-width: 1200px;
    height: 100%;
    padding-top: 20px;
    >.menuBox{
      width: 100%;
      >.logoAndMenu{
        >.logo{
          >img{
            height: 30px;
          }
        }
        >.menu{
          height: 30px;
          margin-left: 50px;
          >.menuItem{
            margin-right: 20px;
            cursor: pointer;
            color: #FFFFFF;
          }
        }
      }
      >.langAndConnect{
        >.lan{
          width: 30px;
          height: 30px;
          background: url("@/assets/langIcon.png") no-repeat center center / 30px;
        }
        >.wallert{
          margin-left: 20px;
          >span{
            padding: 0 20px 0 40px;
            height: 25px;
            border-radius: 25px;
            background: #FFFFFF url("@/assets/wallertIcon.png") no-repeat left 10px center / 20px;
            color: #06060B;
          }
        }
      }
    }
  }
}